@media screen and (max-width: 426px){
  .week {
    font-size: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px){
  .week {
    font-size: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.week {
  padding: 20px;
  margin: 20px;
  margin-left: 0;
  border: 1px solid;
  border-color: #E7E7E7;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
 }

a {
  color: #2f6690;
}

#note {
  background-color: #fff5db;
  padding: 15px;
  width: fit-content;
}
  
