@media screen and (max-width: 1439px) {
  .sections {
    display: flex;
    flex-direction: column;
  }
  .tut2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .divider {
    width: 100%;
    height: 0.5px;
    background-color: #e7e7e7;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .sections {
    display: flex;
    flex-direction: row;
  }
  .tut-description {
    display: flex;
    flex-direction: row;
  }
  .tut-description h2 {
    width: 50%;
    margin-bottom: 0;
  }
  .tut-description p {
    width: 50%;
  }
}

ul {
  margin-top: 0;
}
