/* light blue: #E4F9FF */
/* dark blue: #2F6690 */
/* light gray: #E7E7E7 */
/* dark gray: #D7D7D7 */
/* yellow: #FFF6D8 */

@media screen and (max-width: 426px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 770px) {
  html {
    font-size: 16px;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  line-height: 130%;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.description h2 {
  margin-bottom: 1rem;
}

a {
  color: #2f6690;
}

.description ul {
  margin-bottom: 0;
}

li {
  margin-bottom: 0.5rem;
}

li:last-of-type {
  margin-bottom: 0;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 551px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

nav a:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  nav {
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    width: 33.3vw;
    padding: 1.2rem 0;
    text-align: center;
  }
}

@media screen and (min-width: 551px) {
  nav {
    border-right: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column;
  }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.2rem 2rem;
  }
}

.content {
  min-height: 80vh;
  overflow-x: scroll;
}

@media screen and (max-width: 550px) {
  .content {
    padding: 1.5rem 0.5rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 769px) {
  .content {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 770px) {
  .content {
    padding: 2rem 4rem;
  }
}

.page-title {
  margin: 1rem 20px 2rem 20px;
  font-weight: 500;
}

@media screen and (max-width: 769px) {
  .footer {
    background-color: #e4f9ff;
    height: 10vh;
    padding: 8px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}

@media screen and (min-width: 770px) {
  .footer {
    background-color: #e4f9ff;
    height: 5vh;
    padding: 5px 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  background-color: #e4f9ff;
  height: 8vh;
  padding: 5px 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px #d7d7d7;
  position: sticky;
  top: 0;
  z-index: 1;
}

.selected {
  background-color: #e7e7e7;
}

.description {
  margin: 2rem 20px;
  padding: 2rem;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.piazza a {
  font-weight: 400;
}

.message {
  background-color: #fff6d8;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 20px;
}
