/* light blue: #E4F9FF */
/* light gray: #E7E7E7 */
/* dark gray: #D7D7D7 */
/* light yellow: #fff5db*/

@media screen and (max-width: 426px) {
  html {
    font-size: 10px;
  }
  .footer {
    background-color: #e4f9ff;
    height: 10vh;
    padding: 8px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .content {
    padding: 2rem;
  }
  nav {
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    width: 33vw;
    padding: 1.2rem 0;
    text-align: center;
  }
}

@media screen and (min-width: 427px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  nav {
    border-right: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column;
  }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.2rem 2rem;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  html {
    font-size: 12px;
  }
  .footer {
    background-color: #e4f9ff;
    height: 10vh;
    padding: 8px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .content {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 770px) {
  html {
    font-size: 16px;
  }
  .footer {
    background-color: #e4f9ff;
    height: 5vh;
    padding: 5px 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content {
    padding: 2rem 4rem;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

a {
  color: #2f6690;
}

.header {
  background-color: #e4f9ff;
  height: 8vh;
  padding: 5px 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px #d7d7d7;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.selected {
  background-color: #e7e7e7;
}

.content {
  min-height: 80vh;
}

.description {
  margin: 20px;
  padding: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.instructor {
  margin: 20px;
  padding: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.piazza {
  margin: 20px;
  padding: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
